In [28]:
from data_loading import load_data
from data_exploration import initial_checks

train_df, test_df, sample_submission = load_data()

initial_checks([train_df, test_df, sample_submission], ['train_df', 'test_df', 'sample_submission'])

Informatie over data set train_df is:

Shape: (8763, 49)
Columns: Index(['Unnamed: 0', 'time', 'Madrid_wind_speed', 'Valencia_wind_deg',
       'Bilbao_rain_1h', 'Valencia_wind_speed', 'Seville_humidity',
       'Madrid_humidity', 'Bilbao_clouds_all', 'Bilbao_wind_speed',
       'Seville_clouds_all', 'Bilbao_wind_deg', 'Barcelona_wind_speed',
       'Barcelona_wind_deg', 'Madrid_clouds_all', 'Seville_wind_speed',
       'Barcelona_rain_1h', 'Seville_pressure', 'Seville_rain_1h',
       'Bilbao_snow_3h', 'Barcelona_pressure', 'Seville_rain_3h',
       'Madrid_rain_1h', 'Barcelona_rain_3h', 'Valencia_snow_3h',
       'Madrid_weather_id', 'Barcelona_weather_id', 'Bilbao_pressure',
       'Seville_weather_id', 'Valencia_pressure', 'Seville_temp_max',
       'Madrid_pressure', 'Valencia_temp_max', 'Valencia_temp',
       'Bilbao_weather_id', 'Seville_temp', 'Valencia_humidity',
       'Valencia_temp_min', 'Barcelona_temp_max', 'Madrid_temp_max',
       'Barcelona_temp', 'Bilbao_temp_min', 'Bilbao_temp',
       'Barcelona_temp_min', 'Bilbao_temp_max', 'Seville_temp_min',
       'Madrid_temp', 'Madrid_temp_min', 'load_shortfall_3h'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8763 non-null   int64
 1   time                  8763 non-null   object
 2   Madrid_wind_speed     8763 non-null   float64
 3   Valencia_wind_deg     8763 non-null   object
 4   Bilbao_rain_1h        8763 non-null   float64
 5   Valencia_wind_speed   8763 non-null   float64
 6   Seville_humidity      8763 non-null   float64
 7   Madrid_humidity       8763 non-null   float64
 8   Bilbao_clouds_all     8763 non-null   float64
 9   Bilbao_wind_speed     8763 non-null   float64
 10  Seville_clouds_all    8763 non-null   float64
 11  Bilbao_wind_deg       8763 non-null   float64
 12  Barcelona_wind_speed  8763 non-null   float64
 13  Barcelona_wind_deg    8763 non-null   float64
 14  Madrid_clouds_all     8763 non-null   float64
 15  Seville_wind_speed    8763 non-null   float64
 16  Barcelona_rain_1h     8763 non-null   float64
 17  Seville_pressure      8763 non-null   object
 18  Seville_rain_1h       8763 non-null   float64
 19  Bilbao_snow_3h        8763 non-null   float64
 20  Barcelona_pressure    8763 non-null   float64
 21  Seville_rain_3h       8763 non-null   float64
 22  Madrid_rain_1h        8763 non-null   float64
 23  Barcelona_rain_3h     8763 non-null   float64
 24  Valencia_snow_3h      8763 non-null   float64
 25  Madrid_weather_id     8763 non-null   float64
 26  Barcelona_weather_id  8763 non-null   float64
 27  Bilbao_pressure       8763 non-null   float64
 28  Seville_weather_id    8763 non-null   float64
 29  Valencia_pressure     6695 non-null   float64
 30  Seville_temp_max      8763 non-null   float64
 31  Madrid_pressure       8763 non-null   float64
 32  Valencia_temp_max     8763 non-null   float64
 33  Valencia_temp         8763 non-null   float64
 34  Bilbao_weather_id     8763 non-null   float64
 35  Seville_temp          8763 non-null   float64
 36  Valencia_humidity     8763 non-null   float64
 37  Valencia_temp_min     8763 non-null   float64
 38  Barcelona_temp_max    8763 non-null   float64
 39  Madrid_temp_max       8763 non-null   float64
 40  Barcelona_temp        8763 non-null   float64
 41  Bilbao_temp_min       8763 non-null   float64
 42  Bilbao_temp           8763 non-null   float64
 43  Barcelona_temp_min    8763 non-null   float64
 44  Bilbao_temp_max       8763 non-null   float64
 45  Seville_temp_min      8763 non-null   float64
 46  Madrid_temp           8763 non-null   float64
 47  Madrid_temp_min       8763 non-null   float64
 48  load_shortfall_3h     8763 non-null   float64
dtypes: float64(45), int64(1), object(3)
memory usage: 3.3+ MB
Info: None
Describe:         Unnamed: 0  Madrid_wind_speed  Bilbao_rain_1h  Valencia_wind_speed  \
count  8763.000000        8763.000000     8763.000000          8763.000000
mean   4381.000000           2.425729        0.135753             2.586272
std    2529.804538           1.850371        0.374901             2.411190
min       0.000000           0.000000        0.000000             0.000000
25%    2190.500000           1.000000        0.000000             1.000000
50%    4381.000000           2.000000        0.000000             1.666667
75%    6571.500000           3.333333        0.100000             3.666667
max    8762.000000          13.000000        3.000000            52.000000

       Seville_humidity  Madrid_humidity  Bilbao_clouds_all  \
count       8763.000000      8763.000000        8763.000000
mean          62.658793        57.414717          43.469132
std           22.621226        24.335396          32.551044
min            8.333333         6.333333           0.000000
25%           44.333333        36.333333          10.000000
50%           65.666667        58.000000          45.000000
75%           82.000000        78.666667          75.000000
max          100.000000       100.000000         100.000000

       Bilbao_wind_speed  Seville_clouds_all  Bilbao_wind_deg  ...  \
count        8763.000000         8763.000000      8763.000000  ...
mean            1.850356           13.714748       158.957511  ...
std             1.695888           24.272482       102.056299  ...
min             0.000000            0.000000         0.000000  ...
25%             0.666667            0.000000        73.333333  ...
50%             1.000000            0.000000       147.000000  ...
75%             2.666667           20.000000       234.000000  ...
max            12.666667           97.333333       359.333333  ...

       Madrid_temp_max  Barcelona_temp  Bilbao_temp_min  Bilbao_temp  \
count      8763.000000     8763.000000      8763.000000  8763.000000
mean        289.540309      289.855459       285.017973   286.422929
std           9.752047        6.528111         6.705672     6.818682
min         264.983333      270.816667       264.483333   267.483333
25%         282.150000      284.973443       280.085167   281.374167
50%         288.116177      289.416667       284.816667   286.158333
75%         296.816667      294.909000       289.816667   291.034167
max         314.483333      307.316667       309.816667   310.710000

       Barcelona_temp_min  Bilbao_temp_max  Seville_temp_min  Madrid_temp  \
count         8763.000000      8763.000000       8763.000000  8763.000000
mean           288.447422       287.966027        291.633356   288.419439
std              6.102593         7.105590          8.178220     9.346796
min            269.483333       269.063000        270.150000   264.983333
25%            284.150000       282.836776        285.816667   281.404281
50%            288.150000       287.630000        290.816667   287.053333
75%            292.966667       292.483333        297.150000   295.154667
max            304.816667       317.966667        314.816667   313.133333

       Madrid_temp_min  load_shortfall_3h
count      8763.000000        8763.000000
mean        287.202203       10673.857612
std           9.206237        5218.046404
min         264.983333       -6618.000000
25%         280.299167        7390.333333
50%         286.083333       11114.666667
75%         293.884500       14498.166667
max         310.383333       31904.000000

[8 rows x 46 columns]
Informatie over data set test_df is:

Shape: (2920, 48)
Columns: Index(['Unnamed: 0', 'time', 'Madrid_wind_speed', 'Valencia_wind_deg',
       'Bilbao_rain_1h', 'Valencia_wind_speed', 'Seville_humidity',
       'Madrid_humidity', 'Bilbao_clouds_all', 'Bilbao_wind_speed',
       'Seville_clouds_all', 'Bilbao_wind_deg', 'Barcelona_wind_speed',
       'Barcelona_wind_deg', 'Madrid_clouds_all', 'Seville_wind_speed',
       'Barcelona_rain_1h', 'Seville_pressure', 'Seville_rain_1h',
       'Bilbao_snow_3h', 'Barcelona_pressure', 'Seville_rain_3h',
       'Madrid_rain_1h', 'Barcelona_rain_3h', 'Valencia_snow_3h',
       'Madrid_weather_id', 'Barcelona_weather_id', 'Bilbao_pressure',
       'Seville_weather_id', 'Valencia_pressure', 'Seville_temp_max',
       'Madrid_pressure', 'Valencia_temp_max', 'Valencia_temp',
       'Bilbao_weather_id', 'Seville_temp', 'Valencia_humidity',
       'Valencia_temp_min', 'Barcelona_temp_max', 'Madrid_temp_max',
       'Barcelona_temp', 'Bilbao_temp_min', 'Bilbao_temp',
       'Barcelona_temp_min', 'Bilbao_temp_max', 'Seville_temp_min',
       'Madrid_temp', 'Madrid_temp_min'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 48 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            2920 non-null   int64
 1   time                  2920 non-null   object
 2   Madrid_wind_speed     2920 non-null   float64
 3   Valencia_wind_deg     2920 non-null   object
 4   Bilbao_rain_1h        2920 non-null   float64
 5   Valencia_wind_speed   2920 non-null   float64
 6   Seville_humidity      2920 non-null   float64
 7   Madrid_humidity       2920 non-null   float64
 8   Bilbao_clouds_all     2920 non-null   float64
 9   Bilbao_wind_speed     2920 non-null   float64
 10  Seville_clouds_all    2920 non-null   float64
 11  Bilbao_wind_deg       2920 non-null   float64
 12  Barcelona_wind_speed  2920 non-null   float64
 13  Barcelona_wind_deg    2920 non-null   float64
 14  Madrid_clouds_all     2920 non-null   float64
 15  Seville_wind_speed    2920 non-null   float64
 16  Barcelona_rain_1h     2920 non-null   float64
 17  Seville_pressure      2920 non-null   object
 18  Seville_rain_1h       2920 non-null   float64
 19  Bilbao_snow_3h        2920 non-null   int64
 20  Barcelona_pressure    2920 non-null   float64
 21  Seville_rain_3h       2920 non-null   float64
 22  Madrid_rain_1h        2920 non-null   float64
 23  Barcelona_rain_3h     2920 non-null   float64
 24  Valencia_snow_3h      2920 non-null   int64
 25  Madrid_weather_id     2920 non-null   float64
 26  Barcelona_weather_id  2920 non-null   float64
 27  Bilbao_pressure       2920 non-null   float64
 28  Seville_weather_id    2920 non-null   float64
 29  Valencia_pressure     2466 non-null   float64
 30  Seville_temp_max      2920 non-null   float64
 31  Madrid_pressure       2920 non-null   float64
 32  Valencia_temp_max     2920 non-null   float64
 33  Valencia_temp         2920 non-null   float64
 34  Bilbao_weather_id     2920 non-null   float64
 35  Seville_temp          2920 non-null   float64
 36  Valencia_humidity     2920 non-null   float64
 37  Valencia_temp_min     2920 non-null   float64
 38  Barcelona_temp_max    2920 non-null   float64
 39  Madrid_temp_max       2920 non-null   float64
 40  Barcelona_temp        2920 non-null   float64
 41  Bilbao_temp_min       2920 non-null   float64
 42  Bilbao_temp           2920 non-null   float64
 43  Barcelona_temp_min    2920 non-null   float64
 44  Bilbao_temp_max       2920 non-null   float64
 45  Seville_temp_min      2920 non-null   float64
 46  Madrid_temp           2920 non-null   float64
 47  Madrid_temp_min       2920 non-null   float64
dtypes: float64(42), int64(3), object(3)
memory usage: 1.1+ MB
Info: None
Describe:          Unnamed: 0  Madrid_wind_speed  Bilbao_rain_1h  Valencia_wind_speed  \
count   2920.000000        2920.000000     2920.000000          2920.000000
mean   10222.500000           2.457820        0.067517             3.012785
std      843.075718           1.774838        0.153381             1.996340
min     8763.000000           0.000000        0.000000             0.000000
25%     9492.750000           1.333333        0.000000             1.666667
50%    10222.500000           2.000000        0.000000             2.333333
75%    10952.250000           3.333333        0.000000             4.000000
max    11682.000000          13.333333        1.600000            14.333333

       Seville_humidity  Madrid_humidity  Bilbao_clouds_all  \
count       2920.000000      2920.000000        2920.000000
mean          67.123516        62.644463          43.355422
std           20.611292        24.138393          30.486298
min           11.666667         8.000000           0.000000
25%           52.000000        43.000000          13.333333
50%           70.333333        63.000000          45.000000
75%           85.000000        84.000000          75.000000
max          100.000000       100.000000          97.333333

       Bilbao_wind_speed  Seville_clouds_all  Bilbao_wind_deg  ...  \
count        2920.000000         2920.000000      2920.000000  ...
mean            2.283562           15.477283       162.643836  ...
std             1.654787           25.289197        97.749873  ...
min             0.000000            0.000000         0.000000  ...
25%             1.000000            0.000000        86.666667  ...
50%             1.666667            0.000000       140.000000  ...
75%             3.333333           20.000000       233.333333  ...
max            10.666667           93.333333       360.000000  ...

       Barcelona_temp_max  Madrid_temp_max  Barcelona_temp  Bilbao_temp_min  \
count         2920.000000      2920.000000     2920.000000      2920.000000
mean           290.695462       288.888393      289.911289       284.920684
std              7.113599         9.089699        7.119411         6.803424
min            273.816667       269.816667      272.650000       266.483333
25%            284.816667       281.483333      284.307500       280.150000
50%            290.150000       287.483333      289.483333       284.483333
75%            296.483333       295.483333      295.816667       289.816667
max            309.483333       313.483333      308.150000       307.483333

       Bilbao_temp  Barcelona_temp_min  Bilbao_temp_max  Seville_temp_min  \
count  2920.000000         2920.000000      2920.000000       2920.000000
mean    286.522375          289.124971       288.483641        290.152431
std       6.492355            7.168049         6.221324          7.906915
min     268.120000          271.483333       270.138667        271.150000
25%     281.778333          283.483333       284.150000        284.483333
50%     286.265000          288.816667       288.483333        289.150000
75%     291.119167          295.150000       292.816667        295.150000
max     308.966667          306.816667       310.816667        314.483333

       Madrid_temp  Madrid_temp_min
count  2920.000000      2920.000000
mean    287.869763       286.618130
std       8.977511         8.733163
min     268.713333       267.816667
25%     280.816667       279.816667
50%     286.396667       285.483333
75%     294.452500       293.150000
max     312.223333       310.150000

[8 rows x 45 columns]
Informatie over data set sample_submission is:

Shape: (2920, 2)
Columns: Index(['time', 'load_shortfall_3h'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               2920 non-null   object
 1   load_shortfall_3h  2920 non-null   int64
dtypes: int64(1), object(1)
memory usage: 45.8+ KB
Info: None
Describe:        load_shortfall_3h
count        2920.000000
mean         1459.500000
std           843.075718
min             0.000000
25%           729.750000
50%          1459.500000
75%          2189.250000
max          2919.000000

In [31]:
from preprocessing import preprocess_data

# Execute the function and update train_df
train_df = preprocess_data(train_df)

In [30]:
train_df.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

In [21]:

# Functie om per stad de variabelen te tonen
def city_variable_lists(df, cities=None):
    if cities is None:
        cities = ['Madrid', 'Valencia', 'Seville', 'Bilbao', 'Barcelona']
    city_vars = {city: [] for city in cities}
    for col in df.columns:
        for city in cities:
            prefix = f'{city}_'
            if col.startswith(prefix):
                city_vars[city].append(col)
    return city_vars

# Gebruik de functie op de trainingsdata
city_vars = city_variable_lists(train_df)
for stad, variabelen in city_vars.items():
    print(f'Variabelen voor {stad}: {len(variabelen)} variabelen: {variabelen}')

Variabelen voor Madrid: 9 variabelen: ['Madrid_wind_speed', 'Madrid_humidity', 'Madrid_clouds_all', 'Madrid_rain_1h', 'Madrid_weather_id', 'Madrid_pressure', 'Madrid_temp_max', 'Madrid_temp', 'Madrid_temp_min']
Variabelen voor Valencia: 8 variabelen: ['Valencia_wind_deg', 'Valencia_wind_speed', 'Valencia_snow_3h', 'Valencia_pressure', 'Valencia_temp_max', 'Valencia_temp', 'Valencia_humidity', 'Valencia_temp_min']
Variabelen voor Seville: 10 variabelen: ['Seville_humidity', 'Seville_clouds_all', 'Seville_wind_speed', 'Seville_pressure', 'Seville_rain_1h', 'Seville_rain_3h', 'Seville_weather_id', 'Seville_temp_max', 'Seville_temp', 'Seville_temp_min']
Variabelen voor Bilbao: 10 variabelen: ['Bilbao_rain_1h', 'Bilbao_clouds_all', 'Bilbao_wind_speed', 'Bilbao_wind_deg', 'Bilbao_snow_3h', 'Bilbao_pressure', 'Bilbao_weather_id', 'Bilbao_temp_min', 'Bilbao_temp', 'Bilbao_temp_max']
Variabelen voor Barcelona: 9 variabelen: ['Barcelona_wind_speed', 'Barcelona_wind_deg', 'Barcelona_rain_1h', 'Barcelona_pressure', 'Barcelona_rain_3h', 'Barcelona_weather_id', 'Barcelona_temp_max', 'Barcelona_temp', 'Barcelona_temp_min']

In [25]:
# Function to check categorical and numerical variables
def check_variables(df):
    # Check categorical variables
    categorical_vars = df.select_dtypes(include=['object', 'category']).columns.tolist()
    print("Categorical Variables:")
    for var in categorical_vars:
        unique_options = df[var].unique()
        print(f"{var}: {unique_options}")

    # Check numerical variables
    numerical_vars = df.select_dtypes(include=['number']).columns.tolist()

    # Organize numerical variables by type
    variable_types = {
        'wind_speed': [],
        'wind_deg': [],
        'rain_1h': [],
        'rain_3h': [],
        'humidity': [],
        'clouds_all': [],
        'pressure': [],
        'snow_3h': [],
        'weather_id': [],
        'temp_max': [],
        'temp_min': [],
        'temp': []
    }

    for var in numerical_vars:
        for key in variable_types.keys():
            if key in var:
                variable_types[key].append(var)
                break

    print("\nNumerical Variables:")
    for var_type, vars in variable_types.items():
        print(f"\n{var_type.capitalize()} Variables:")
        for var in vars:
            min_val = df[var].min()
            max_val = df[var].max()
            range_val = max_val - min_val
            print(f"{var}: Min = {min_val}, Max = {max_val}, Range = {range_val}")

# Check variables for the training set
print("Training Set:")
check_variables(train_df)

# Check variables for the test set
print("\nTest Set:")
check_variables(test_df)

Training Set:
Categorical Variables:

Numerical Variables:

Wind_speed Variables:
Madrid_wind_speed: Min = 0.0, Max = 13.0, Range = 13.0
Valencia_wind_speed: Min = 0.0, Max = 52.0, Range = 52.0
Bilbao_wind_speed: Min = 0.0, Max = 12.6666666667, Range = 12.6666666667
Barcelona_wind_speed: Min = 0.0, Max = 12.6666666667, Range = 12.6666666667
Seville_wind_speed: Min = 0.0, Max = 11.6666666667, Range = 11.6666666667

Wind_deg Variables:
Valencia_wind_deg: Min = 1, Max = 10, Range = 9
Bilbao_wind_deg: Min = 0.0, Max = 359.3333333333, Range = 359.3333333333
Barcelona_wind_deg: Min = 0.0, Max = 360.0, Range = 360.0

Rain_1h Variables:
Bilbao_rain_1h: Min = 0.0, Max = 3.0, Range = 3.0
Barcelona_rain_1h: Min = 0.0, Max = 12.0, Range = 12.0
Seville_rain_1h: Min = 0.0, Max = 3.0, Range = 3.0
Madrid_rain_1h: Min = 0.0, Max = 3.0, Range = 3.0

Rain_3h Variables:
Seville_rain_3h: Min = 0.0, Max = 0.0933333333, Range = 0.0933333333
Barcelona_rain_3h: Min = 0.0, Max = 0.093, Range = 0.093

Humidity Variables:
Seville_humidity: Min = 8.3333333333, Max = 100.0, Range = 91.6666666667
Madrid_humidity: Min = 6.3333333333, Max = 100.0, Range = 93.6666666667
Valencia_humidity: Min = 10.3333333333, Max = 100.0, Range = 89.6666666667

Clouds_all Variables:
Bilbao_clouds_all: Min = 0.0, Max = 100.0, Range = 100.0
Seville_clouds_all: Min = 0.0, Max = 97.3333333333, Range = 97.3333333333
Madrid_clouds_all: Min = 0.0, Max = 100.0, Range = 100.0

Pressure Variables:
Seville_pressure: Min = 1, Max = 25, Range = 24
Barcelona_pressure: Min = 670.6666666667, Max = 1001411.0, Range = 1000740.3333333333
Bilbao_pressure: Min = 971.3333333333, Max = 1042.0, Range = 70.66666666670005
Valencia_pressure: Min = 972.6666666667, Max = 1021.6666666667, Range = 49.0
Madrid_pressure: Min = 927.6666666667, Max = 1038.0, Range = 110.33333333329995

Snow_3h Variables:
Bilbao_snow_3h: Min = 0.0, Max = 21.3, Range = 21.3
Valencia_snow_3h: Min = 0.0, Max = 0.7916666667, Range = 0.7916666667

Weather_id Variables:
Madrid_weather_id: Min = 211.0, Max = 804.0, Range = 593.0
Barcelona_weather_id: Min = 200.6666666667, Max = 804.0, Range = 603.3333333333001
Seville_weather_id: Min = 200.0, Max = 804.0, Range = 604.0
Bilbao_weather_id: Min = 207.3333333333, Max = 804.0, Range = 596.6666666666999

Temp_max Variables:
Seville_temp_max: Min = 272.063, Max = 320.4833333333, Range = 48.42033333329999
Valencia_temp_max: Min = 269.888, Max = 314.2633333333, Range = 44.375333333300034
Barcelona_temp_max: Min = 272.15, Max = 314.0766666667, Range = 41.926666666700044
Madrid_temp_max: Min = 264.9833333333, Max = 314.4833333333, Range = 49.5
Bilbao_temp_max: Min = 269.063, Max = 317.9666666667, Range = 48.90366666670002

Temp_min Variables:
Valencia_temp_min: Min = 269.888, Max = 310.272, Range = 40.384000000000015
Bilbao_temp_min: Min = 264.4833333333, Max = 309.8166666667, Range = 45.33333333339999
Barcelona_temp_min: Min = 269.4833333333, Max = 304.8166666667, Range = 35.33333333339999
Seville_temp_min: Min = 270.15, Max = 314.8166666667, Range = 44.666666666699996
Madrid_temp_min: Min = 264.9833333333, Max = 310.3833333333, Range = 45.400000000000034

Temp Variables:
Valencia_temp: Min = 269.888, Max = 310.4266666667, Range = 40.53866666670001
Seville_temp: Min = 272.063, Max = 314.9766666667, Range = 42.91366666670001
Barcelona_temp: Min = 270.8166666667, Max = 307.3166666667, Range = 36.5
Bilbao_temp: Min = 267.4833333333, Max = 310.71, Range = 43.2266666667
Madrid_temp: Min = 264.9833333333, Max = 313.1333333333, Range = 48.150000000000034

Test Set:
Categorical Variables:
time: ['2018-01-01 00:00:00' '2018-01-01 03:00:00' '2018-01-01 06:00:00' ...
 '2018-12-31 15:00:00' '2018-12-31 18:00:00' '2018-12-31 21:00:00']
Valencia_wind_deg: ['level_8' 'level_7' 'level_9' 'level_6' 'level_4' 'level_2' 'level_3'
 'level_1' 'level_10' 'level_5']
Seville_pressure: ['sp25' 'sp24' 'sp23' 'sp22' 'sp21' 'sp19' 'sp17' 'sp16' 'sp12' 'sp4'
 'sp2' 'sp1' 'sp3' 'sp5' 'sp10' 'sp13' 'sp15' 'sp18' 'sp20' 'sp14' 'sp9'
 'sp6' 'sp8' 'sp7' 'sp11']

Numerical Variables:

Wind_speed Variables:
Madrid_wind_speed: Min = 0.0, Max = 13.3333333333, Range = 13.3333333333
Valencia_wind_speed: Min = 0.0, Max = 14.3333333333, Range = 14.3333333333
Bilbao_wind_speed: Min = 0.0, Max = 10.6666666667, Range = 10.6666666667
Barcelona_wind_speed: Min = 0.0, Max = 12.6666666667, Range = 12.6666666667
Seville_wind_speed: Min = 0.0, Max = 12.6666666667, Range = 12.6666666667

Wind_deg Variables:
Bilbao_wind_deg: Min = 0.0, Max = 360.0, Range = 360.0
Barcelona_wind_deg: Min = 0.0, Max = 343.3333333333, Range = 343.3333333333

Rain_1h Variables:
Bilbao_rain_1h: Min = 0.0, Max = 1.6, Range = 1.6
Barcelona_rain_1h: Min = 0.0, Max = 2.3, Range = 2.3
Seville_rain_1h: Min = 0.0, Max = 2.3, Range = 2.3
Madrid_rain_1h: Min = 0.0, Max = 3.0, Range = 3.0

Rain_3h Variables:
Seville_rain_3h: Min = 0.0, Max = 0.004, Range = 0.004
Barcelona_rain_3h: Min = 0.0, Max = 0.0096666667, Range = 0.0096666667

Humidity Variables:
Seville_humidity: Min = 11.6666666667, Max = 100.0, Range = 88.3333333333
Madrid_humidity: Min = 8.0, Max = 100.0, Range = 92.0
Valencia_humidity: Min = 13.0, Max = 100.0, Range = 87.0

Clouds_all Variables:
Bilbao_clouds_all: Min = 0.0, Max = 97.3333333333, Range = 97.3333333333
Seville_clouds_all: Min = 0.0, Max = 93.3333333333, Range = 93.3333333333
Madrid_clouds_all: Min = 0.0, Max = 92.0, Range = 92.0

Pressure Variables:
Barcelona_pressure: Min = 988.3333333333, Max = 1037.0, Range = 48.66666666670005
Bilbao_pressure: Min = 975.0, Max = 1040.0, Range = 65.0
Valencia_pressure: Min = 973.0, Max = 1021.6666666667, Range = 48.66666666670005
Madrid_pressure: Min = 943.0, Max = 1036.0, Range = 93.0

Snow_3h Variables:
Bilbao_snow_3h: Min = 0, Max = 0, Range = 0
Valencia_snow_3h: Min = 0, Max = 0, Range = 0

Weather_id Variables:
Madrid_weather_id: Min = 262.5, Max = 804.0, Range = 541.5
Barcelona_weather_id: Min = 207.3333333333, Max = 804.0, Range = 596.6666666666999
Seville_weather_id: Min = 259.5, Max = 804.0, Range = 544.5
Bilbao_weather_id: Min = 207.6666666667, Max = 804.0, Range = 596.3333333333001

Temp_max Variables:
Seville_temp_max: Min = 273.8166666667, Max = 315.15, Range = 41.333333333300004
Valencia_temp_max: Min = 273.8166666667, Max = 310.15, Range = 36.333333333300004
Barcelona_temp_max: Min = 273.8166666667, Max = 309.4833333333, Range = 35.66666666660001
Madrid_temp_max: Min = 269.8166666667, Max = 313.4833333333, Range = 43.66666666660001
Bilbao_temp_max: Min = 270.1386666667, Max = 310.8166666667, Range = 40.678

Temp_min Variables:
Valencia_temp_min: Min = 273.8166666667, Max = 310.15, Range = 36.333333333300004
Bilbao_temp_min: Min = 266.4833333333, Max = 307.4833333333, Range = 41.0
Barcelona_temp_min: Min = 271.4833333333, Max = 306.8166666667, Range = 35.33333333339999
Seville_temp_min: Min = 271.15, Max = 314.4833333333, Range = 43.333333333300004
Madrid_temp_min: Min = 267.8166666667, Max = 310.15, Range = 42.333333333300004

Temp Variables:
Valencia_temp: Min = 273.8166666667, Max = 310.15, Range = 36.333333333300004
Seville_temp: Min = 272.35, Max = 314.8166666667, Range = 42.46666666669995
Barcelona_temp: Min = 272.65, Max = 308.15, Range = 35.5
Bilbao_temp: Min = 268.12, Max = 308.9666666667, Range = 40.8466666667
Madrid_temp: Min = 268.7133333333, Max = 312.2233333333, Range = 43.50999999999999